{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <ol>
    {% for category in categories %}

            <li><p><a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a></p></li>

    {% endfor %}
    </ol>
{% endblock %}
