{% extends 'base.html.twig' %}

{% block title %}E-shop{% endblock %}

{% block body %}
    <h1>Товары</h1>
    <div class="row">
        {{ include('fragments/productsList.html.twig', {'products': products}) }}
    </div>
{% endblock %}
