{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.name }}</h1>
    {% if product.image and vich_uploader_asset(product, 'image') %}
        <img src="{{ vich_uploader_asset(product, 'image') }}" class="card-img-top" alt="...">
    {% else %}
        <img src="//placehold.it/200x150" class="card-img-top" alt="...">
    {% endif %}
    <p>Цена: {{ product.price / 100 }}</p>
{% endblock %}


